<div class="container">
  <div class="cardData" style="width: 100%">
    <!-- <span class="logo1" style="float: left">
        <h2>
          <i>
            <b style="font-size: xx-large">PwC</b>
          </i>
          <span class="title1">Vendor Evaluation Tool</span>
        </h2>
      </span> -->
<span class="logoImage">
  <img src="assets\Images\Logo_Black.png" alt="">
</span>
    <span class="logo1" style="float: left"
      ><h2>
      
        <span class="title1">Vendor Evaluation Tool</span>
      </h2>
    </span>
    <span style="float: right; color: black" class="options">
      <!-- <span class="topOptions"> <i class="pi pi-cog"></i> Settings </span> -->
      <!-- <span class="topOptions"> <i class="pi pi-bell"></i> Notifications </span> -->
      <span
      class="topOptions"
     
      (click)="onClickNotification()"
    >
      <i
        class="pi pi-bell mr-4 p-text-secondary"
        pBadge
        [value]="allNotifications.length.toString()"
      ></i>
    </span>

    <p-overlay
    [(visible)]="overlayVisible"
    [responsive]="{direction: 'bottom' }"
    appendTo="body"
    styleClass="notificationPanel"
  >
    <p class="notify" *ngFor="let notification of allNotifications">
      <!-- <button
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-rounded p-button-danger p-button-outlined clearIcon"
        (click)="onClearNotification(notification.id)"
        pTooltip="Clear"
        tooltipPosition="top"
      ></button> -->
      <p-tabView *ngIf="notification.event == 'Comment'">
        {{ notification.notificationMsg }} "{{ notification.template }}" on
      {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }} <a style="color: red;" (click)="onClearNotification(notification.id)">Clear</a>
    </p-tabView>
      <p-tabView *ngIf="notification.event == 'Issue Raised'">
        {{ notification.notificationMsg }} "{{ notification.template }}" on
      {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }} <a style="color: red;" (click)="onClearNotification(notification.id)">Clear</a>
    </p-tabView>
      <p-tabView *ngIf="notification.event == 'Template'">
      "{{ notification.template }}" {{ notification.notificationMsg }} on
      {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }} <a style="color: red;" (click)="onClearNotification(notification.id)">Clear</a>
    </p-tabView>
    
      <p-tabView *ngIf="notification.event == 'Scorecard'">
      "{{ notification.template }}" {{ notification.notificationMsg }} on
      {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }} <a style="color: red;" (click)="onClearNotification(notification.id)">Clear</a>
    </p-tabView>
  </p>
  <ng-template pTemplate="footer">
    <div class="footer-section">
      <button pButton label="Clear all" class="notificationButton"></button>
    </div>
  </ng-template>
  <!-- <br /> -->
  </p-overlay>
      <span
        style="float: right"
        class="profileIcon"
        [matMenuTriggerFor]="cat"
        >{{ userName.substring(0, 1) | uppercase }}</span
      >
    </span>

    <mat-menu #cat="matMenu">
      <span style="color: black; padding: 5px; text-align: center"
        >{{ userName | uppercase }}&nbsp;{{ lastName | uppercase }} (BUSINESS
        USER)</span
      >
      <br />
      <button mat-menu-item (click)="onClickLogout()">
        <mat-icon>logout</mat-icon>
        <span style="color: black">Logout</span>
      </button>
    </mat-menu>
  </div>

  <!--IR DEMO SIDEBAR-->
  <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      <span *ngIf="!collapsed" (click)="toggleCollapse()">
        <img
          class="collapseIcon"
          src="assets/Images/collapse_out.png"
          alt=""
          pTooltip="Open"
        />
      </span>

      <span *ngIf="collapsed" (click)="toggleCollapse()">
        <img
          class="collapseIcon"
          src="assets\Images\collapse_in.png"
          alt=""
          pTooltip="Collapse"
        />
        <label class="collapse">Collapse</label>
      </span>
      <div class="logo-text" *ngIf="collapsed"></div>
    </div>
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a
          class="sidenav-nav-link"
          [routerLink]="[data.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleCollapse1()"
        >
          <img
            class="sidenav-link-icon"
            [src]="[data.image]"
            alt=""
            [pTooltip]="data.tooltip"
          />

          <span class="sidenav-link-text" *ngIf="collapsed">
            {{ data.label }}
          </span>
        </a>
      </li>
    </ul>
  </div>

  <div class="pages">
    <!-- <p-progressBar *ngIf="pageProgressBar" mode="indeterminate" [style]="{'height': '6px', 'z-index':'11111'}"></p-progressBar> -->
    <router-outlet></router-outlet>
    <p-card styleClass="invisibaleCard"></p-card>
  </div>

  <div class="blank"></div>
</div>
