<!-- <div class="container">
  <div class="cardData" style="width: 100%">
    <span class="logoImage">
      <img src="assets\Images\Logo_Black.png" alt="" />
    </span>
    <span class="logo1" style="float: left">
      <h2>
        <span class="title1">Vendor Evaluation Tool</span>
      </h2>
    </span>
    <span style="float: right; color: black" class="options">
      <span class="topOptions" (click)="onClickNotification()">
        <i
          class="pi pi-bell mr-4 p-text-secondary notifyIcon"
          pBadge
          [value]="notificationCount"
        ></i>
      </span>

      <p-overlay
        [(visible)]="overlayVisible"
        [responsive]="{ direction: 'bottom' }"
        appendTo="body"
        styleClass="notificationPanel2"
      >
        <div class="clearAllButton">
          <label
            style="float: right; cursor: pointer"
            (click)="clearAllNotification()"
            >Clear All</label
          >
        </div>
        <br />
        <hr />
        <span class="notificationData">
          <p class="notify" *ngFor="let notification of allNotifications">
            <p-tabView *ngIf="notification.event == 'Comment'">
              {{ notification.notificationMsg }} "{{ notification.template }}"
              on
              {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }}
              <label
                style="color: red; cursor: pointer"
                (click)="onClearNotification(notification.id)"
                >Clear</label
              >
            </p-tabView>
            <p-tabView *ngIf="notification.event == 'Issue Raised'">
              {{ notification.notificationMsg }} "{{ notification.template }}"
              on
              {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }}
              <label
                style="color: red; cursor: pointer"
                (click)="onClearNotification(notification.id)"
                >Clear</label
              >
            </p-tabView>
            <p-tabView *ngIf="notification.event == 'Template'">
              "{{ notification.template }}" Template
              {{ notification.notificationMsg }} on
              {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }}
              <label
                style="color: red; cursor: pointer"
                (click)="onClearNotification(notification.id)"
                >Clear</label
              >
            </p-tabView>

            <p-tabView *ngIf="notification.event == 'Scorecard'">
              "{{ notification.template }}"
              {{ notification.notificationMsg }} on
              {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }}
              <label
                style="color: red; cursor: pointer"
                (click)="onClearNotification(notification.id)"
                >Clear</label
              >
            </p-tabView>
            <p-tabView *ngIf="notification.event == 'Draft'">
              "{{ notification.template }}"
              {{ notification.notificationMsg }} on
              {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }}
              <label
                style="color: red; cursor: pointer"
                (click)="onClearNotification(notification.id)"
                >Clear</label
              >
            </p-tabView>
          </p>
        </span>
      </p-overlay>

      <span
        style="float: right"
        class="profileIcon"
        [matMenuTriggerFor]="cat"
        >{{ userName.substring(0, 1) | uppercase }}</span
      >
    </span>

    <mat-menu #cat="matMenu">
      <span style="color: black; padding: 5px; text-align: center"
        >{{ userName | uppercase }}&nbsp;{{
          lastName | uppercase
        }}
        (ADMIN)</span
      >
      <br />
      <button mat-menu-item (click)="onClickLogout()">
        <mat-icon>logout</mat-icon>
        <span style="color: black">Logout</span>
      </button>
    </mat-menu>
  </div>

  <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      <span *ngIf="!collapsed" (click)="toggleCollapse()">
        <div class="p-fluid grid">
          <div class="field col-12 md:col-5">
            <img
              class="collapseIcon"
              src="assets/Images/collapse_out.png"
              alt=""
              pTooltip="Open"
            />
          </div>
        </div>
      </span>

      <span *ngIf="collapsed" (click)="toggleCollapse()">
        <div class="p-fluid grid">
          <div class="field col-12 md:col-5">
            <img
              class="collapseIcon"
              src="assets\Images\collapse_in.png"
              alt=""
              pTooltip="Collapse"
            />
          </div>
          <div class="field col-12 md:col-3" style="margin-top: 3%">
            <label class="collapse">Collapse</label>
          </div>
        </div>
      </span>
      <div class="logo-text" *ngIf="collapsed"></div>
    </div>
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a
          class="sidenav-nav-link"
          [routerLink]="[data.routeLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleCollapse1()"
        >
          <div class="icon-container">
            <img
              class="sidenav-link-icon"
              [src]="[data.image]"
              alt=""
              [pTooltip]="data.tooltip"
              Description
            />
          </div>
          <span class="sidenav-link-text lableHover" *ngIf="collapsed">
            {{ data.label }}
          </span>
        </a>
      </li>
    </ul>
  </div>

  <div class="pages">
    <span>
      <router-outlet></router-outlet>
    </span>
    <p-card styleClass="invisibaleCard"></p-card>
  </div>

  <div class="blank"></div>
</div>
<p-toast></p-toast>
<p-confirmDialog
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog> -->
<div class="container">
  <div class="cardData">
    <span class="logoImage">
      <img src="assets\Images\Logo_Black.png" alt="" />
    </span>
    <span class="logo1" style="float: left">
      <h2>
        <span class="title1">| Vendor Evaluation Tool</span>
      </h2>
    </span>
    <span style="float: right; color: black" class="options">
      <span class="topOptions" (click)="onClickNotification()">
        <i
          class="pi pi-bell mr-2 p-text-secondary notifyIcon"
          pBadge
          [value]="notificationCount"
        ></i>
      </span>

      <p-overlay
        [(visible)]="overlayVisible"
        [responsive]="{ direction: 'bottom' }"
        appendTo="body"
        styleClass="notificationPanel2"
      >
        <div class="clearAllButton">
          <label
            style="float: right; cursor: pointer"
            (click)="clearAllNotification()"
            >Clear All</label
          >
        </div>
        <br />
        <hr />
        <span class="notificationData">
          <p class="notify" *ngFor="let notification of allNotifications">
            <p-tabView *ngIf="notification.event == 'Comment'">
              {{ notification.notificationMsg }} "{{ notification.template }}"
              on
              {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }}
              <label
                style="color: red; cursor: pointer"
                (click)="onClearNotification(notification.id)"
                >Clear</label
              >
            </p-tabView>
            <p-tabView *ngIf="notification.event == 'Issue Raised'">
              {{ notification.notificationMsg }} "{{ notification.template }}"
              on
              {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }}
              <label
                style="color: red; cursor: pointer"
                (click)="onClearNotification(notification.id)"
                >Clear</label
              >
            </p-tabView>
            <p-tabView *ngIf="notification.event == 'Template'">
              "{{ notification.template }}" Template
              {{ notification.notificationMsg }} on
              {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }}
              <label
                style="color: red; cursor: pointer"
                (click)="onClearNotification(notification.id)"
                >Clear</label
              >
            </p-tabView>

            <p-tabView *ngIf="notification.event == 'Scorecard'">
              "{{ notification.template }}"
              {{ notification.notificationMsg }} on
              {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }}
              <label
                style="color: red; cursor: pointer"
                (click)="onClearNotification(notification.id)"
                >Clear</label
              >
            </p-tabView>
            <p-tabView *ngIf="notification.event == 'Draft'">
              "{{ notification.template }}"
              {{ notification.notificationMsg }} on
              {{ notification.createdOn | date : "EEE, dd-MMM yyyy hh:mm:aa" }}
              <label
                style="color: red; cursor: pointer"
                (click)="onClearNotification(notification.id)"
                >Clear</label
              >
            </p-tabView>
          </p>
        </span>
      </p-overlay>

      <span
        style="float: right;margin-right: 2rem;"
        class="profileIcon"
        [matMenuTriggerFor]="cat"
        >{{ userName.substring(0, 1) | uppercase }}</span
      >
    </span>

    <mat-menu #cat="matMenu">
      <span style="color: black; padding: 5px; text-align: center"
        >{{ userName | uppercase }}&nbsp;{{
          lastName | uppercase
        }}
        (ADMIN)</span
      >
      <br />
      <button mat-menu-item (click)="onClickLogout()">
        <i class="pi pi-sign-out"></i> &nbsp;
        <span style="color: black;font-size: larger;">Logout</span>
      </button>
    </mat-menu>
  </div>
  <div class="sidenav" [ngClass]="collapse ? 'sidenav-collapse' : ''">
    <ul class="sidenav-nav">
      <li (click)="closeSidenav1()" class="sidenav-nav-item">
        <!-- 1st menu -->

        <a
        (click)="onClickRole()"
          class="sidenav-nav-link"
          [ngClass]="activeRoute"
          routerLink="/Admin"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img
            class="sidenav-link-icon"
            src="assets/Icon/partership-outline.svg"
            alt=""
            pTooltip="Roles"
            Description
            
          />
          <span class="sidenav-link-text" *ngIf="collapse">Role</span>
        </a>
        <!-- 2nd menu -->
        <a
          class="sidenav-nav-link"
          [ngClass]="userActiveRoute"
          routerLink="Admin/user"
        >
          <img
            class="sidenav-link-icon"
            src="assets/Icon/avatar-outline.svg"
            alt=""
            pTooltip="Users"
            Description
          />
          <span class="sidenav-link-text" *ngIf="collapse">User</span>
        </a>
        <!-- 3rd menu -->

        <a
          class="sidenav-nav-link"
          [ngClass]="libraryActiveRoute"
          routerLink="/Admin/master-repo"
        >
          <img
            class="sidenav-link-icon"
            src="assets/Icon/library-outline (1).svg"
            alt=""
            pTooltip="Master Repository"
            Description
          />
          <span class="sidenav-link-text" *ngIf="collapse">Library</span>
        </a>
        <!-- 4th menu -->

        <a
          class="sidenav-nav-link"
          [ngClass]="projectActiveRoute"
          routerLink="/Admin/projects"
        >
          <img
            class="sidenav-link-icon"
            src="assets/Icon/document-multiple-outline.svg"
            alt=""
            pTooltip="Projects"
            Description
          />
          <span class="sidenav-link-text" *ngIf="collapse">Project</span>
        </a>
        <!-- 5th menu -->

        <a
          class="sidenav-nav-link"
          [ngClass]="vendorActiveRoute"
          routerLink="/Admin/vendors"
        >
          <img
            class="sidenav-link-icon"
            src="assets/Icon/audience-outline.svg"
            alt=""
            pTooltip="Vendors"
            Description
          />
          <span class="sidenav-link-text" *ngIf="collapse">Vendor</span>
        </a>
        <!-- 6th menu -->

        <a
          class="sidenav-nav-link"
          [ngClass]="templateActiveRoute"
          routerLink="/Admin/template-list"
        >
          <img
            class="sidenav-link-icon"
            src="assets/Icon/noteplus-outline.svg"
            alt=""
            pTooltip="Templates"
            Description
          />
          <span class="sidenav-link-text" *ngIf="collapse">Template</span>
        </a>
        <!-- 7th menu -->

        <a
        
          class="sidenav-nav-link"
          [ngClass]="scorecardActiveRoute"
          routerLink="/Admin/proposal-list"
        >
          <img
            class="sidenav-link-icon"
            src="assets/Icon/circle-star-outline.svg"
            alt=""
            pTooltip="Proposal Rating"
            Description
          />
          <span style="margin-bottom: 15px;" class="sidenav-link-text" *ngIf="collapse"
            >Proposal Rating</span
          >
        </a>
        <!-- 8th menu -->

        <a
          class="sidenav-nav-link"
          [ngClass]="reportActiveRoute"
          routerLink="/Admin/report"
        >
          <img
            class="sidenav-link-icon"
            src="assets/Icon/bar-chart-outline.svg"
            alt=""
            pTooltip="Reports"
            Description
          />
          <span class="sidenav-link-text" *ngIf="collapse">Reports</span>
        </a>
      </li>
      <li>
        <div class="logo-container">
          <button *ngIf="!collapse" (click)="toggleCollapse11()" class="inside">
            <img
            class="sidenav-link-icon"
            src="assets/Icon/login-outline.svg"
            />
          </button>
          <button *ngIf="collapse" (click)="toggleCollapse11()" class="outside">
            <img
            class="sidenav-link-icon"
            src="assets/Icon/login-outline.svg"
            />
          </button>
          <div class="sidenav-nav-link collapse" *ngIf="collapse">Collapse</div>
        </div>
      </li>
    </ul>
  </div>
  <span class="pages"><router-outlet></router-outlet></span>
</div>
